#box{
    background-color: rgb(37, 8, 231);
    color: white;
}

.heading{
    color: red;

}

button {
    background-color: green;
}

p{
    text-align: left;
    text-decoration: underline;
    font-weight:bolder;
    font-family: Arial;
    font-size: 25px;
    line-height: 50px;
    text-transform: lowercase;
}