
*{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
}

#navbar{
    
    background-color: black;
    height: 70px;
    width: 100%;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
}