
*{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
}

#navbar{
    
    background-color: black;
    height: 70px;
    width: 100%;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

.outer{
    height:300px;
    width: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: rgb(12,12,12);
}